/*
@brand-primary: #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
*/

body {
    background:#f1f1f1;
    color:#696969;
}

.page-header {
    background:#333;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    margin:0;
    height:120px;
    color:#ccc;
    border:none;
}
.page-header h2 {
    font-size:20px;
}

.progress {
    margin-top:120px;
    border: 0px solid #5bc0de;
    border-radius: 0px;
    height: 20px;
}
.progress-bar {
    background:#5bc0de;
}

#presentation {
    padding:30px 100px;
}
.slide {
    display:none;
}
.slide h3 {
    font-size:50px;
    border-bottom:5px solid #5bc0de;
    padding:10px;
}
.slide ul {
    margin:50px;
    list-style:square;
}
.slide ul li {
    font-size:30px;
    padding:10px;
}

.active {
    display:block;
}


.progress-bar {
    /*width:100%;*/
}


#picturebox {
    display:inline-block;
}
#picturebox img {
    /*width:300px;*/
    height:250px;
    transition: transform 0.25s ease;
    -webkit-transition: transform 0.25s ease;
}
#picturebox .img-jjuc { height:100px; }
#picturebox .img-teknix { height:40px; }
#picturebox img:hover {
    transform: scale(2);
    -webkit-transform: scale(2);
}
#picturebox img.clipimg {
    /*width:400px;*/
    height:400px;
    clip-path: inset(50px);
    -webkit-clip-path: inset(100px 160px 70px 40px);
}
#picturebox img.clipimg:hover {
    clip-path: inset(0px);
    -webkit-clip-path: inset(0px);
    z-index:999;
}



.panel-body-custom-hover:hover {
    background:#f9f9f9;
}


@media (min-height: 600px) {
    .carousel-inner {
        min-height:400px;
    }
}
@media (min-height: 800px) {
    .carousel-inner {
        min-height:600px;
    }
}
@media (min-height: 1000px) {
    .carousel-inner {
        min-height:800px;
    }
}
@media (min-height: 1200px) {
    .carousel-inner {
        min-height:1000px;
    }
}
